{% extends "base.html" %}
{% block title %}How well do you know manga?{% endblock %}

{% block body %}
<div class="row">
  <div class="medium-9 medium-centered columns">
    <!--   <div class="panel"> -->


<h1><strong>Which manga is this?</strong></h1>
{% if api_data %}
  
  <h3><em><img src = "static/img/manga1.jpg"></img></em></h3>

{% set title_array = api_data.get('titles') %}
    <p>
    <ul>
    <li><button onclick="validate(this, 'green')" id="q1" value="right"> {{ title_array[0] }} </button></li>
    <!-- <li><button onclick="validate(this, 'green')" id="q1" value="right"> This one is correct </button></li> -->

    <li><button onclick="validate(this, 'red')" id="q2" value="wrong"> {{ title_array[1] }} </button></li>

    <li><button onclick="validate(this, 'red')" id="q3" value="wrong"> {{ title_array[2] }} </button></li>

    <li><button onclick="validate(this, 'red')" id="q4" value="wrong"> {{ title_array[3] }} </button></li>
    </ul>
    
<p id="answer"></p>
<script type="text/javascript">

    var ul = document.querySelector('ul');
    for (var i = ul.children.length; i >= 0; i--) {
        ul.appendChild(ul.children[Math.random() * i | 0]);
    }

    function validate(elmnt,clr) {
        elmnt.style.background = clr;
        if (elmnt.value == "right"){
            document.getElementById("answer").innerHTML = "<h3>You're right!</h3>";
            document.getElementById("q1").disabled = true;
            document.getElementById("q2").disabled = true;
            document.getElementById("q3").disabled = true;
            document.getElementById("q4").disabled = true;
        }
        else{
            document.getElementById("answer").innerHTML = "<h3>So close!</h3>";
            document.getElementById("q1").style.background = 'green';
            document.getElementById("q1").disabled = true;
            document.getElementById("q2").disabled = true;
            document.getElementById("q3").disabled = true;
            document.getElementById("q4").disabled = true;
        }
    }

</script>
{% else %}
  <h1>Oops!</h1>
{% endif %}
  <p>
  <p>
  <p>
    <!-- <a class="round button" href="/">More manga!</a> -->
    <a class = "round button" HREF="javascript:history.go(0)">Try again!</A>
  <!-- </div> -->
  <p>
  <p>
  <h5>Made with love by <a href = "http://www.james-xue.com"/>James</a>.</h5>
  </div>
</div>

{% endblock %}
